.faq__title {
  line-height: 56px;
  margin-bottom: 40px;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.faq__item {
  position: relative;
  margin: 0;
  background-color: var(--white);
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  line-height: 87px;
  min-height: 87px;
  padding-left: 70px;
}

.faq__item:not(:last-child) {
  margin-bottom: 20px;
}

.faq__item:nth-child(2n) {
  background-color: var(--bold-purple);
  color: var(--white);
}

.faq__item::after {
  position: absolute;
  content: "";
  width: 46px;
  height: 46px;
  background-image: url("../img/img/plus-violet-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: calc(50% - 23px);
  right: 70px;
  transition: 0.5s;
}

.faq__item:hover::after {
  background-image: url("../img/img/open-hover-violet.svg");
  transition: 0.5s;
}

.faq__item:active::after {
  background-image: url("../img/img/minus-active-violet.svg");
  transition: 0.5s;
}

.faq__item:nth-child(2n)::after {
  background-image: url("../img/img/plus-white-icon.svg");
  transition: 0.5s;
}

.faq__item:hover:nth-child(2n)::after {
    background-image: url("../img/img/open-hover-white.svg");
    transition: 0.5s;
}

.faq__item:active:nth-child(2n)::after {
  background-image: url("../img/img/minus-active-white.svg");
  transition: 0.5s;
}