footer {
  padding: 50px 0 51px 0;
}

.footer__address {
  margin-bottom: 39px;
}

.footer__location-block {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.footer__location-text {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  position: relative;
  max-width: 340px;
  padding-left: 75px;
}

.footer__location-text::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url('../img/img/location-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer__link {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-left: 75px;
  position: relative;
}

.footer__contacts-block {
  position: relative;
}

.footer__contacts-block:not(:last-child) {
  margin-bottom: 11px;
}

.footer__link-phone {
  margin: 0;
  color: white;
  text-decoration: none;
}

.footer__link-mail {
  margin: 0;
  color: white;
  text-decoration: none;
}

.footer__link-phone:hover,
.footer__link-mail:hover {
  color: #840AA3;
  transition: 0.5s;
}

.footer__link-phone:active,
.footer__link-mail:active {
  color: #CD06FF;
  transition: 0.5s;
}

.footer__link-phone:visited,
.footer__link-mail:visited {
  color: #840AA3;
  transition: 0.5s;
}

.footer__contacts-block::before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 32px;
  background-image: url('../img/img/phone-icon.svg');
  background-size: cover;
  position: absolute;
  left: 0; 
  top: 50%;
  transform: translateY(-50%);
}

.footer__contacts-block:nth-child(2)::before {
  background-image: url('../img/img/mail-icon.svg');
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__item {
  display: inline-block;
}

.footer__link-cite {
  display: inline-block
  color: #FFF;
  z-index: 1;
}

.footer__link-cite:visited {
  color: #CD06FF;
}

.footer__link-cite:hover {
  color: #EADEED;
  transition: 0.5s;
}

.footer__link-cite:focus {
  color: #EADEED;
  border: 1px solid #CD06FF;
  transition: 0.5s;
}

.footer__link-cite:active {
  color: #CD06FF;
  transition: 0.5s;
}

.footer__item:not(:last-child) {
  margin-right: 26px;
}

.footer__item-img {
  width: 50px;
  height: 50px;
}

.footer__text-contacts {
  margin-bottom: 54px;
}

.footer__flex-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 156px;
}

.footer__author-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__author-copyrite,
.footer__author-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__author-copyrite {
  text-align: left;
}

.footer__author-text {
  text-align: right;
}

.footer__author {
  display: flex;
  flex-direction: column;
  gap: 6px;
}