.header {
  padding-top: 38px;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header__navigation-link {
  font-family: Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  line-height: 50px;
  text-transform: uppercase;
  transition: 0.5s;
}

.header__navigation-link:hover {
  color: var(--purple);
  transition: 0.5s;
}

.header__navigation-link:visited {
  color: var(--purple);
  transition: 0.5s;
}

.header__navigation-link:active {
  color: var(--span-color);
  transition: 0.5s;
}

.header__button {
  text-transform: uppercase;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 22px;
  line-height: 30px;
  background-color: var(--dark-grey);
  height: 55px;
  color: var(--white);
}

.header__btn-border {
  border: solid 3px var(--light-purple);
  border-radius: 10px;
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.header__btn-border:hover {
  border: none;
  background-color: var(--dark-purple);
  border: solid 3px var(--dark-purple);
  transition: 0.5s;
}

.header__btn-border:focus {
  border: 1px solid var(--black);
  background-color: var(--violet);
  border: solid 3px var(--violet);
  transition: 0.5s;
}

.header__btn-border:active {
  border: none;
  background-color: var(--dark-purple);
  border: solid 3px var(--dark-purple);
  transition: 0.5s;
}
