.kinozal__list {
  margin: 0;
  padding: 0;
}

.kinozal__title {
  margin-bottom: 60px;
}

.kinozal__item {
  background-repeat: no-repeat;
  background-size: cover;
}

.kinozal__item:not(:last-child) {
  margin-bottom: 60px;
}

.kinozal__item-vibes {
  background-image: url("/img/img/80svibes.jpg");
}

.kinozal__item-starwars {
  background-image: url("/img/img/starwars.jpg");
}

.kinozal__item-wildwest {
  background-image: url("/img/img/wildwest.jpg");
}

.kinozal__item-neon {
  background-image: url("/img/img/neonstyle.jpg");
}

.kinozal__link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 275px 0;
}

.kinozal__link-text {
  display: inline-block;
  font-family: Arial;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  max-width: 252px;
  text-transform: uppercase;
}