.review {
  overflow: hidden;
  padding: 50px 0;
}

.review__container {
  max-width: 980px;
  margin: 0 auto;
}

.review__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 46px;
  font-weight: 700;
}

.review__item-container {
  position: relative;
}

.review__item:not(:last-child) {
  margin-bottom: 79px;
}

.review__item {
  max-width: 980px;
  display: inline-block;
}

.review__img,
.review__gradient::after {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.5s ease;
}

.review__gradient {
  position: relative;
}

.review__gradient::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background: var(--review-gradient);
  z-index: 1;
}

.review__img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 0 20%;
  float: left;
}

.review__text {
  margin-top: 52px;
  font-size: 20px;
  line-height: 28px;
  max-width: 680px;
  margin-left: 300px;
}

.review__img-one {
  object-position: 0 0;
}

.review__img-two {
  object-position: 0 30%;
}

.review__author {
  position: absolute;
  text-align: center;
  top: 291px;
  width: 280px;
}

@media (max-width: 1024px) {
  .review {
    padding: 35px 0;
  }

  .review__container {
    max-width: 751px;
  }

  .review__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 26px;
  }

  .review__img {
    width: 172px;
    height: 172px;
    object-position: 0 20%;
  }
}

@media (max-width: 768px) {
  .review {
    padding: 30px 0;
  }

  .review__container {
    max-width: 688px;
  }

  .review__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 21px;
  }

  .review__img {
    width: 153px;
    height: 153px;
    object-position: 0 20%;
  }
}

@media (max-width: 320px) {
  .review {
    padding: 15px 0;
  }

  .review__container {
    max-width: 280px;
  }

  .review__title {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 16px;
  }

  .review__img {
    width: 86px;
    height: 86px;
    object-position: 0 20%;
  }
}