.service__container {
  margin: 0 auto;
  max-width: 1180px;
}

.service__title {
  margin: 0 auto;
  max-width: 880px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 41px;
}

.service__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  max-height: 800px;
}

.service__item-vr {
  background-image: url("../img/vr.jpg");
}

.service__item-games {
  background-image: url("../img/games.jpg");
}

.service__item-audio {
  background-image: url("../img/audio.jpg");
}

.service__item-karaoke {
  background-image: url("../img/micro.jpg");
}

.service__item-films {
  background-image: url("../img/netflix.jpg");
}

.service__item-playstation {
  background-image: url("../img/sony.jpg");
}

.service__item-vr,
.service__item-games,
.service__item-audio,
.service__item-karaoke,
.service__item-films,
.service__item-playstation {
  display: inline-block;
  width: 380px;
  height: 228px;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: 0.5s
}

.service__item-text {
  position: absolute;
  color: #FFF;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  padding: 0;
  top: 166px;
  left: 44px;
}

.service__item-vr:hover,
.service__item-games:hover,
.service__item-audio:hover,
.service__item-karaoke:hover,
.service__item-films:hover,
.service__item-playstation:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.service__item-vr:hover .service__item-text,
.service__item-games:hover .service__item-text,
.service__item-audio:hover .service__item-text,
.service__item-karaoke:hover .service__item-text,
.service__item-films:hover .service__item-text,
.service__item-playstation:hover .service__item-text {
  transform: scale(1.1);
  transition: 0.5s;
}