:root {
  --white: #fff;
  --white-darkened: #EADEED;
  --black: #000;
  --purple: #840AA3;
  --dark-purple: #6C0287;
  --bold-purple: #440F51;
  --light-purple: #CD06FF;
  --violet: #640AA3;
  --dark-grey: #1B1A1B;
  --light-black: #211E1E;
}