.header {
  position: relative;
  margin: 0;
  padding: 0;
  width: 1180px;
  height: 823px;
  margin-bottom: 100px;
}

.header__logo {
  font-weight: 900;
  font-size: 150px;
}

.header__text {
  margin-left: 230px;
  font-size: 28px;
}

.header::after {
  content: "";
  background-image: url("./img/img/people.png");
  background-size: cover;
  width: 675px;
  height: 762px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  filter: drop-shadow(0 -4px 15px rgba(0, 0, 0, 0.5));
}